
<% include partials/header2.ejs %>
    <div class="row">

        <div class="form">
            <h1>Contact me!</h1>
            <p>Feel free to contact me below!
            </p>
<form action="https://formspree.io/paulaaron0@gmail.com" method="POST">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" name="email" placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Leave a message!</label>
                    <textarea class="form-control" name="message" rows="3"></textarea>
                </div>
                <button class="btn btn-large btn-outline-*" id="btncolor">Submit</button>
            </form>
            <a href="/">Go back</a>

        </div>

    </div>

<% include partials/footer.ejs %>