 <% include partials/header1.ejs %>

<section class="container-fluid px-0" id="home">
<div class="row align-items-center">
            <div class="col-lg-6 px-0" id="transition">
                <img class="img-fluid" src="public/assets/images/DSC_0371.jpg" alt="">
            </div>
    <div class="col-lg-6 displaynone2 px-2" id="fadein">
        <h1 class="welcome text-center">Welcome!</h1>
        <p class="welcomePara text-center px-1">Hi my name is <span class="emphasis">Aaron Paul</span> , and I am a first year <span class="emphasis">Management Engineering</span>  student at the <span class="emphasis">University of Waterloo</span>! Scroll through my website to learn more about me or click the links below to connect with me on other sources!</p>
        <div class="text-center">
            <a href="https://www.linkedin.com/in/a29paul/" target="_blank" class="icon"><i class="fab fa-linkedin largeIcon px-2"></i></a>
            <a href="https://github.com/a29paul" class="icon"><i class="fab fa-github largeIcon px-2"></i></a>
            <a href="mailto:a29paul@uwaterloo.ca" class="icon"><i class="fas fa-at largeIcon px-2"></i></a>
            <a href="public/assets/images/resume.pdf" target="_blank" class="icon"><i class="fas fa-file largeIcon px-2"></i></a>
        </div>
    </div>
   
</div>
    </section>
    
    <section class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h1 class="welcome text-center my-3" >About Me!</h1>
            <p class="welcomePara text-center" >
                One of my favourite phrases in this entire world is a Latin one. <span class="emphasis">"Vincit Qui Se Vincit"</span> -
                He Conquers Who Conquers Himself. This phrase is a driving force in everything I do. I strive for <span class="emphasis">continuous
                improvements</span>  in all facets of life. Immigrating from India to Canada at a young age with two immigrant parents has
                instilled within me a work ethic that requires me to strive for <span class="emphasis">excellence</span>  no matter the endeavor. And this mentality is something that is contagious and I am truly glad that it is.

            </p>
            </div>
            <div class="col-lg-6 px-0"id="bio">
                <img class="img-fluid" src="public/assets/images/Picture 577.jpg" alt="">
            </div>
        </div>
    </section>

    <section class="container-fluid px-0" >

        <div class="col-lg-12 spacecreate" id="Projects">
            <h1 class="welcome text-center">Current/Past Projects</h1>
            <p class="welcomePara text-center px-1">
                Below are <span class="emphasis">projects</span>  that I have been <span class="emphasis">involved in, lead, or individually pursued</span>. This section of this website is continually <span class="emphasis">growing and changing!</span>  (Would be a bad sign if it didn't!)
            </p>
        </div>
    </div>
</section>
    
    <section class="container-fluid px-3 ">
    
        <div class="row align-items-center projects">
            <a href="" class="black">
                <div class="col-lg-3 px-0 py-5 bordercurve">
                <h1 class="text-center">Personal Website</h1>
                <p class="text-center">Developed a personal website using <span class="emphasis">Javascript, HTML, CSS</span>, and various JS
                    technologies/libraries as well as Bootstrap.</p>
                <div class="text-center">
                    <a href="https://en.wikipedia.org/wiki/HTML5" target="_blank" class="icon"><i class="fab fa-html5 mx-1 medIcon"></i></a>
            
                    <a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank" class="icon"><i class="fab fa-js-square mx-1 medIcon"></i></a>
            
                    <a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets" target="_blank" class="icon"><i class="fab fa-css3-alt mx-1 medIcon"></i></a>
            
                </div>
            </div>
        </a>
            
            <a href="" class="black">
                <div class="col-lg-3 pad1 bordercurve">
                    <h1 class="text-center">Future Project!</h1>
                    <p class="text-center">Check back later to see the next cool project!</p>
                    <div class="text-center">
                        <a class="icon opacity"><i class="fab fa-css3-alt mx-1 medIcon"></i></a>
                    </div>
                </div>
            </a>
            <a href="" class="black">
                <div class="col-lg-3 pad1 bordercurve">
                    <h1 class="text-center">Future Project!</h1>
                    <p class="text-center">Check back later to see the next cool project!</p>
                    <div class="text-center">
                        <a class="icon opacity"><i class="fab fa-css3-alt mx-1 medIcon"></i></a>
                    </div>
                </div>
            </a>
            <a href="" class="black">
                <div class="col-lg-3 pad1 bordercurve">
                    <h1 class="text-center">Future Project!</h1>
                    <p class="text-center">Check back later to see the next cool project!</p>
                    <div class="text-center">
                        <a class="icon opacity"><i class="fab fa-css3-alt mx-1 medIcon"></i></a>
                    </div>
                </div>
            </a>
        </div>
    </section>
<section id="experience">
    <div class="col-lg-12 spacecreate" id="Projects">
        <h1 class="welcome text-center">Experience/Skills</h1>
        <p class="welcomePara text-center px-1">
            My experience and skills in <span
                class="emphasis">leadership, software,</span> and <span class="emphasis">miscellanous.</span> To learn more about my experiences, click the Resume link in the nav bar!
            <div class="text-center">(Hover over the boxes to learn more about them!)</div>
        </p>
    </div>
    <div class="container-fluid">
        <div class="row align-items-center hoverRvl">
            <div class="col-lg-6 text-center spacecreate1 bordercurve" id="xpDiv">
                <h1 id="h1Ldr">Leadership</h1>
                <div id="Xp" class="textbox">
                    <div class="my-5">
                       <div class="bold">Student Trustee - Durham Catholic School Board</div> 
                        Represented 21 500 students at the board table and provincial
                        level and lead a group of student leaders from each respective highschool within the school board
                    </div>
                    <div class="my-5">
                       <div class="bold">Oratorical Contest Scholarship - Optimist International</div> 
                        Won a scholarship worth $1500 for writing and delivering speech about where the roots of my optimism lie and won at
                        the club, zone and district levels.
                    </div>
                    <div class="my-5">
                        <div class="bold">Student Senator - All Saints C.S.S</div>
                        Contended for a position in an election and succeeded and thus represented the students voice in board wide Senate
                        meetings as well as on Student Council.
                    </div>
                    
                    

                </div>
            </div>
            <div class="col-lg-6 text-center spacecreate2 bordercurve" id="xpDiv">
                <h1 id="h1Sft">Software</h1>
                <div class="textbox"id="Xp">
                    <div class="my-3">
                        <span class="bold">Languages:</span>  HTML, CSS, JavaScript
                    </div> 
                    <div class="my-3">
                      <span class="bold">Technologies:</span>  Node.js, jQuery, Bootstrap, MongoDB, React.js, Excel, Express.js, Mongoose
                    </div>
                    <div class="my-3">
                        <span class="bold">Hackathons:</span>
                        StarterHacks – Developed ______
                    </div>
                    <div class="my-3">
                        <span class="bold">Jobs:</span>
                         None yet but currently searching!
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row align-items-center hoverRvl">
            <div class="spacecreate col-lg-12 bordercurve textbox" id="xpDiv">
                <h1 class="text-center" id="h1Misc">Miscellanous</h1>
                <div class="text-center" id="Xp">
                <div class="my-3">
                    <div class="bold">Executive Assistant – Election Campaign</div>
                    Worked with a candidate to do various tasks such as speak with constituents, manage data, advise on various issues,
                    and much more. Lead to a successful election victory!
                </div>
                
                <div class="my-3">
                    <div class="bold">Lead Generator – Weedman, Clarity Air</div>
                    Did door-to-door sales for 6 months. Talked to a copious amount of different people throughout Durham region.
                </div>
               
                <div class="my-3">
                    <div class="bold">Math and Reading Assistant – Kumon</div>
                    Marked students work, identified weaknesses, and taught students
                </div>
                
                <div class="my-3">
                    <div class="bold">Math, English, and Science Tutor – Self-Employed</div>
                    Developed plans to improve students’ academic standing in various subjects
                </div>
                
                </div>
            </div>
        </div>
    </div>
</section>

 
    <section>
        <div class="text-center spacecreate">
            <h1 class="welcome">Thank You!</h1>
            <div class="welcomePara my-3">
               <span class="emphasis">Thank you</span> for visiting my Website! Below are some links you may be interested in. 
            </div>
            <div>
                <a href="/research" class="btn btn-lg btn-outline-* mx-3 my-5" id="btncolor">Research</a>
                <a href="/contact" class="btn btn-lg btn-outline-* mx-3 my-5" id="btncolor">Contact Me</a>
                <a href="public/assets/images/resume.pdf" class="btn btn-lg btn-outline-* mx-3 my-5" id="btncolor">Resume</a>
                <a href="#home" class="btn btn-lg btn-outline-* mx-3 my-5" id="btncolor">Back to Top</a>
            </div>
           
           <div>
            If you enjoyed visting my website and would like to learn more about me and connect with me on other platforms, below are once
            again some links.
           </div> 
           <div class="my-5">
            <a href="https://www.linkedin.com/in/a29paul/" target="_blank" class="icon"><i class="fab fa-linkedin largeIcon px-2"></i></a>
            <a href="https://github.com/a29paul" target="_blank" class="icon"><i class="fab fa-github largeIcon px-2"></i></a>
            <a href="mailto:a29paul@uwaterloo.ca" class="icon"><i class="fas fa-at largeIcon px-2"></i></a>
            <a href="public/assets/images/resume.pdf" target="_blank" class="icon"><i class="fas fa-file largeIcon px-2"></i></a>
           </div>
        </div>
    </section>
    
<% include partials/footer.ejs %>
