<% include partials/header2.ejs %>
<h1 class="text-center my-5">This will be the research page, showcasing all the research I am involved in!</h1>
<h1 class="text-center">Check back later!</h1>

<% include partials/footer.ejs %>